// Importing variables.
@import '@/assets/styles/vars.scss';

.root {
	width: min-content;
	height: min-content;
	cursor: pointer;

	path {
		transition: fill 100ms;
		fill: $black-250;
	}

	&:hover {
		path {
			transition: fill 100ms;
			fill: $dominant-1;
		}
	}
}
