@import '@/assets/styles/vars.scss';

.text {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.4375rem 0.875rem;
	border-radius: $radius;
	background-color: transparent;
	width: 50px;
	box-sizing: border-box;
	height: min-content;
	cursor: pointer;
	font-family: $NotoSansMono;
	user-select: none;
	transition: background-color 100ms;

	span {
		color: $dominant-2;
		font-weight: 400;
		transition: color 100ms;
	}

	&.active {
		background-color: $dominant-1;
		transition: background-color 100ms;

		span {
			color: $black-1000;
			transition: color 100ms;
		}
	}

	&:hover {
		@extend .active;
	}

	input {
		width: 0.01px;
		height: 0.01px;
		opacity: 0.01;
		position: absolute;
	}
}

.large {
	span {
		font-size: 1.3rem;
	}
}

.medium {
	span {
		font-size: 1.125rem;
	}
}

.small {
	span {
		font-size: 0.875rem;
	}
}
