// Importing variables.
@import '@/assets/styles/vars.scss';

.root {
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	border-radius: $radius;
	border: 2px solid $black-250;
	background-color: $black-500;
	outline: none;
	cursor: pointer;
	transition: all 100ms;

	&:hover,
	&:focus {
		transition: all 100ms;
		border-color: $dominant-1;

		.wrapperTitle {
			svg {
				path {
					transition: all 100ms;
					fill: $dominant-1;
				}
			}
		}
	}

	&:focus {
		.wrapperTitle {
			svg {
				transition: all 200ms;
				transform: rotate(180deg);

				path {
					transition: all 200ms;
					fill: $dominant-1;
				}
			}
		}

		.wrapperSubtitle {
			transition: all 200ms;
			height: auto;
			margin-top: 10px;
		}
	}

	.wrapperTitle {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.title {
			color: $dominant-2;
			font-size: 1.2rem;
			font-family: $NotoSansMono;

			@media (max-width: $laptop) {
				font-size: 1rem;
			}
		}

		svg {
			width: 1rem;
			height: 1rem;
			fill: none;
			transition: all 200ms;

			path {
				transition: all 100ms;
				fill: $black-250;
			}
		}
	}

	.wrapperSubtitle {
		transition: all 200ms;
		height: 0px;
		overflow: hidden;
	}
}
