@import '@/assets/styles/vars.scss';

.item {
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 12px;
	border: 2px solid $black-250;
	background-color: $black-500;
	cursor: pointer;
	transition: border-color 100ms;

	&:hover,
	&:focus {
		transition: border-color 100ms;
		border-color: $dominant-1;

		.wrapper_title {
			svg {
				path {
					transition: fill 100ms;
					fill: $dominant-1;
				}
			}
		}
	}

	&:focus {
		.wrapper_title {
			svg {
				transition: transform 200ms;
				transform: rotate(180deg);

				path {
					transition: fill 200ms;
					fill: $dominant-1;
				}
			}
		}

		.wrapper_subtitle {
			transition: all 200ms;
			height: auto;
			margin-top: 10px;
		}
	}

	.wrapper_title {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.title {
			color: $dominant-2;
			font-size: 1.2rem;
			font-family: $NotoSansMono;

			@media (max-width: $laptop) {
				font-size: 1rem;
			}
		}

		svg {
			width: 1rem;
			height: 1rem;
			fill: none;
			transition: transform 200ms;

			path {
				transition: fill 100ms;
				fill: $black-250;
			}
		}
	}

	.wrapper_subtitle {
		transition: all 200ms;
		height: 0px;
		overflow: hidden;
	}
}
