@import '@/assets/styles/vars.scss';

.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.title {
		font-size: 32px;
		color: $dominant-1;
		font-family: $NotoSansMono;
		font-weight: 600;
	}

	.subtitle {
		font-size: 20px;
		color: $dominant-1;
		font-family: $NotoSansMono;
		font-weight: 400;
	}
}
