// Importing variables.
@import '@/assets/styles/vars.scss';

.root {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border-radius: $radius;
	border: 2px solid $dominant-1;
	cursor: pointer;
	position: relative;

	span {
		border-radius: calc($radius/4);
		background-color: $dominant-1;
		display: none;
	}

	input {
		width: 0.01px;
		height: 0.01px;
		opacity: 0.01;
		position: absolute;
		transition: all 100ms;

		&:checked + span {
			transition: all 100ms;
			display: block;
		}
	}
}

.large {
	width: 1.5075rem;
	height: 1.5075rem;

	span {
		width: 0.8375rem;
		height: 0.8375rem;
	}
}

.medium {
	width: 1.305rem;
	height: 1.305rem;

	span {
		width: 0.725rem;
		height: 0.725rem;
	}
}

.small {
	width: 1.125rem;
	height: 1.125rem;

	span {
		width: 0.5rem;
		height: 0.5rem;
	}
}
