// Importing variables.
@import '@/assets/styles/vars.scss';

.root {
	cursor: pointer;
	padding: 0.5rem;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	transition: all 300ms;
	border-radius: $radius;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: $black-500;
	gap: 8px;

	&:hover,
	&:focus,
	&.active {
		transition: all 300ms;
		border-color: $dominant-1;
		position: relative;
		z-index: 2;

		path {
			transition: fill 300ms;
			fill: $dominant-1;
		}

		rect {
			transition: stroke 300ms;
			stroke: $dominant-1;
		}

		.name {
			transition: color 300ms;
			color: $dominant-1;
		}
	}
	img {
		object-fit: cover;
	}
	img,
	svg {
		min-width: 50px;
		min-height: 67px;
		max-width: 50px;
		max-height: 67px;
	}

	svg {
		fill: none;

		path {
			transition: fill 300ms;
			fill: $black-250;
		}

		rect {
			transition: stroke 300ms;
			stroke: $black-250;
		}
	}

	.name {
		display: inline-block;
		font-size: 0.7rem;
		text-align: center;
		width: 100px;
		word-break: break-all;
		color: $black-250;
		font-family: $NotoSansMono;
		transition: color 300ms;
		outline: none;
	}
}

.textEllipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.all {
	width: 100%;
	min-height: 100%;
	height: max-content;

	.name {
		width: 80%;
	}
}

.fixed {
	width: 120px;
	height: max-content;
}

.availableSpace {
	width: 100%;
	height: 100%;

	.name {
		width: 80%;
	}
}
