// Importing variables.
@import '@/assets/styles/vars.scss';

.root {
	position: relative;
	background: rgb(255, 255, 255);
	overflow: hidden;
	border-radius: $radius;
	opacity: 0.1;
	animation: flicker 700ms ease infinite alternate;

	@keyframes flicker {
		from {
			opacity: 0.1;
		}
		to {
			opacity: 0.16;
		}
	}
}
