@import '../../assets/styles/index.scss';

.link {
	color: $background-dominant-1;
	font-family: $fontFamily;
	font-weight: 400;
	margin: 0;
	width: min-content;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}

.large {
	font-size: 1.5rem;
}

.medium {
	font-size: 1.2rem;
}

.small {
	font-size: 0.9em;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}
