// Importing variables.
@import '@/assets/styles/vars.scss';

.root {
	display: flex;
	justify-content: center;
	align-items: center;
	border-width: 1px;
	border-radius: $radius;
	border-style: solid;
	border-color: transparent;
	background-color: $black-500;
	overflow: hidden;
	padding: 10px 20px;
	transition: all 100ms;

	.eye {
		fill: $black-250;
		cursor: pointer;
		transition: all 100ms;

		line {
			transition: all 100ms;
			stroke: $black-250;
		}
	}

	.input {
		outline: none;
		font-size: 16px;
		font-family: $NotoSansMono;
		width: 100%;
		background: transparent;
		color: $dominant-1;
		border: none;

		&::placeholder {
			color: $black-250;
		}
	}

	&.active {
		transition: border-color 100ms;
		border-color: $dominant-1;

		.eye {
			transition: all 100ms;
			fill: $dominant-1;

			line {
				transition: all 100ms;
				stroke: $dominant-1;
			}
		}
	}
}

.fixed {
	max-width: 300px;
}

.all {
	width: 100%;
}
