@import '@/assets/styles/vars.scss';

.wrapper {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.625rem 1.25rem;
	background: $background-500;
	gap: 0.9rem;
	box-sizing: border-box;
	width: 100%;
}

.name {
	color: $background-dominant-2;
	font-family: $fontFamily;
	font-size: 0.875rem;
	font-weight: 400;
	cursor: default;
}

.toggles {
	display: flex;
	gap: 0.9rem;
}
