@import './fonts.scss';
@import './vars.scss';

* {
	box-sizing: border-box;
}

// Scroll
*::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

*::-webkit-scrollbar-track {
	/* Tracking area color */
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	/* Slider color */
	background-color: $dominant-1;
	/* Radius */
	border-radius: 9999px;
	/* Rounded out the runner */
	border: 3px solid transparent;
}

// Default theme
:root {
	--kuui-black-1000: #242526;
	--kuui-black-500: #2f3031;
	--kuui-black-250: #737373;
	--kuui-dominant-1: #bc98ea;
	--kuui-dominant-2: #ebedf0;
	--kuui-warning: #bc3174;
}
