:root {
	--kuui-black-1000: #242526;
	--kuui-black-500: #2f3031;
	--kuui-black-250: #737373;
	--kuui-dominant-1: #bc98ea;
	--kuui-dominant-2: #ebedf0;
	--kuui-warning: #bc3174;
}

// Redux theme
.redux {
	--kuui-black-1000: #242526;
	--kuui-black-500: #2f3031;
	--kuui-black-250: #737373;
	--kuui-dominant-1: #bc98ea;
	--kuui-dominant-2: #ebedf0;
	--kuui-warning: #bc3174;
}

// Native theme
.native {
	--kuui-black-1000: #22272e;
	--kuui-black-500: #272e35;
	--kuui-black-250: #6d7887;
	--kuui-dominant-1: #4895ef;
	--kuui-dominant-2: #cbd0df;
	--kuui-warning: #ef6c75;
}

// VSCode theme
.vscode {
	--kuui-black-1000: #252526;
	--kuui-black-500: #333333;
	--kuui-black-250: #818181;
	--kuui-dominant-1: #6ebbeb;
	--kuui-dominant-2: #d7d7d7;
	--kuui-warning: #f5b732;
}

// Cornhub theme
.cornhub {
	--kuui-black-1000: #1b1b1b;
	--kuui-black-500: #292929;
	--kuui-black-250: #808080;
	--kuui-dominant-1: #ffa31a;
	--kuui-dominant-2: #ffffff;
	--kuui-warning: #c71700;
}

// BlackAndWhite theme
.blackAndWhite {
	--kuui-black-1000: #212529;
	--kuui-black-500: #282c31;
	--kuui-black-250: #6e767f;
	--kuui-dominant-1: #ced4da;
	--kuui-dominant-2: #ced4da;
	--kuui-warning: #dc2f02;
}
