/**************************************************/
/********************* Colors *********************/
/**************************************************/
$black-1000: var(--kuui-black-1000);
$black-500: var(--kuui-black-500);
$black-250: var(--kuui-black-250);
$dominant-1: var(--kuui-dominant-1);
$dominant-2: var(--kuui-dominant-2);
$warning: var(--kuui-warning);

/**************************************************/
/********************* Fonts **********************/
/**************************************************/
:root {
	--kuui-NotoSansMono: 'Noto Sans Mono', monospace;
}

$NotoSansMono: var(--kuui-NotoSansMono);

/***************************************************/
/********************* Screens *********************/
/***************************************************/
$desktop: 1400px;
$laptop: 1200px;
$tablet: 768px;
$phone: 576px;

/***************************************************/
/********************** Other **********************/
/***************************************************/
:root {
	--kuui-radius: 0.4rem;
}

$radius: var(--kuui-radius);
