// Redux dark theme
$background-1000: #242526;
$background-500: #2f3031;
$background-250: #737373;
$background-dominant-1: #bc98ea;
$background-dominant-2: #ebedf0;
$warning: #bc3174;

// Fonts
$fontFamily: 'Noto Sans Mono', monospace;
