/**************************************************/
/********************* Colors *********************/
/**************************************************/
$background-1000: var(--kuui-background-1000);
$background-500: var(--kuui-background-500);
$background-250: var(--kuui-background-250);
$background-dominant-1: var(--kuui-background-dominant-1);
$background-dominant-2: var(--kuui-background-dominant-2);
$warning: var(--kuui-warning);

/**************************************************/
/********************* Fonts *********************/
/**************************************************/
$fontFamily: 'Noto Sans Mono', monospace;
